body
{
	background: rgb(255, 0, 0);
	background-image: url("BACK.png");
	
	
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		margin-right: 400px;
		margin-left: 40px;
		float: none;
		border-radius: 15px;
	}

	.login_div1
	{
		margin-top: 100px;
		
	}

	#login 
	{
		margin-right: 370px;
		background: linear-gradient(#e6f704 0%, #bd0b82 100%, #e6f704 100%);;
	}



#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
